Page
{
    background-color:lightgrey;
}

Button{
    background-color: tomato;
    color: #fff;
}


.logo {
    height: 100;
    margin-bottom: 10;
}

.cardStyle {
    background-color: #3489db;

    color: #fff;
    color: black;
  }

  .box {
    align-items: center;
    align-items: stretch;
    flex-direction: column;
  }

  .profile {
    flex-grow:1;
    vertical-align: middle;
    margin: 0 30;
    box-shadow:0 0 10 black;
  }

  /*
  nativescriptte display flex diye birsey yoktur onun yerine zaten biz FlexBoxLayout kullaninca otomatik olarak display flex yapmis oluyoruz...bunu bilmek cok onemlidir
  */
  .container {
    background-color: aquamarine;
    display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: column;

  }
